.tag {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.6rem 0.4rem;
  .icon {
    width: 2.6rem;
    height: 2.6rem;
    background: rgba(194, 0, 0, 0.12);
    border-radius: 50%;
  }
}
